# Doctor Decoder

Use Pandas scraping to help decode the medical abbreviations that a doctor might use.

In [1]:
import pandas as pd

Use Pandas to scrape the following site and decode the medical abbreviations in the list

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_medical_abbreviations'
med_abbreviations = ['BMR', 'BP', 'ECG', 'MRI', 'qid', 'WBC']

In [3]:
# Use Panda's `read_html` to parse the url
html_df = pd.read_html(url)

In [5]:
html_df[2]

,0,1,2
0,EG abb,EG full name,"Other(ver change, need to know...etc.)"
1,ABG,arterial blood gas,NaN
2,ACE,angiotensin-converting enzyme,NaN
3,ACTH,adrenocorticotropic hormone,NaN
4,AFVSS,"Afebrile, vital signs stable[5]",NaN
...,...,...,...
184,μL,microliter(s)/microlitre(s),NaN
185,μm,micrometer(s)/micrometre(s),Also referred to as microns
186,μmol,micromole(s),NaN
187,μOsm,micro-osmole(s),NaN
188,mμ,millimicron(s),Also referred to as nanometers/nanometres

In [13]:
# Find the medical abbreviations DataFrame in the list of DataFrames as assign it to `df`
# Assign the columns `['abb', 'full_name', 'other']`
df = html_df[2].rename(columns={0:"abb", 1:"full_name", 2:"other"})
df.head()

,abb,full_name,other
0,EG abb,EG full name,"Other(ver change, need to know...etc.)"
1,ABG,arterial blood gas,NaN
2,ACE,angiotensin-converting enzyme,NaN
3,ACTH,adrenocorticotropic hormone,NaN
4,AFVSS,"Afebrile, vital signs stable[5]",NaN

Cleanup of extra row

In [14]:
# drop the `other` column
df = df[["abb", "full_name"]]
df.head()

      abb                        full_name
0  EG abb                     EG full name
1     ABG               arterial blood gas
2     ACE    angiotensin-converting enzyme
3    ACTH      adrenocorticotropic hormone
4   AFVSS  Afebrile, vital signs stable[5]

In [16]:
# Drop the first row and set the index to the `abb` column
df = df.set_index("abb", drop=True)
df.head()

                              full_name
abb
EG abb                     EG full name
ABG                  arterial blood gas
ACE       angiotensin-converting enzyme
ACTH        adrenocorticotropic hormone
AFVSS   Afebrile, vital signs stable[5]

In [24]:
# Loop through the list of medical abbreviations and print the abbreviation
# along with the full description.
# Use the DataFrame to perform the lookup.
for abbrev in med_abbreviations:
    print(abbrev +": "+ df.loc[abbrev, "full_name"])

BMR: basal metabolic rate
BP: blood pressure
ECG: electrocardiogram
MRI: magnetic resonance imaging
qid: 4 times a day
WBC: white blood cell